Backend/MJP.API/.vscode/launch.json
Backend/MJP.API/.vscode/tasks.json
Backend/MJP.API/bin/Debug/
Backend/MJP.API/bin/Release/
Backend/MJP.API/obj/
Backend/MJP.API/publishes/
Backend/MJP.Entities/bin/
Backend/MJP.Infrastructure/bin/
Backend/MJP.Services/bin/
Backend/MJP.Services/obj/
Backend/MJP.Entities/obj/
Frontend/common/node_modules/.package-lock.json
Frontend/common/node_modules/
Frontend/mjp.ui/node_modules/
Backend/MJP.Infrastructure/obj/
Frontend/common/tsconfig.tsbuildinfo
Backend/MJP.API/bin/Debug/
Backend/MJP.Entities/obj/project.nuget.cache
